@media (max-width: 1330px) {
  .header__img {
    &::before {
      content: none;
    }
  }
  .header__container {
    padding: 80px 70px 10px;
  }

  .stat__container {
    padding: 20px 20px 20px 70px;
  }
  .stat__item {
    p {
      margin: 20px 20px;
      font-size: 1rem;

      span {
        font-size: 1.8rem;
      }
    }
  }
  .offer__container {
    padding: 20px 20px;
  }
}

@media (max-width: 1000px) {
  .nav__logo {
    img {
      width: 50px;
      height: 70px;
    }
  }

  .nav__container {
    padding: 0px 20px;
    font-size: 1.2rem;
  }

  .nav__btn {
    button {
      font-size: 0.9rem;
      padding: 10px 20px;
    }
  }
  .header__desc {
    h1 {
      font-size: 2rem;
    }
    font-size: 1.2rem;
  }
  .header__img {
    margin: 20px 20px 20px 0px;
    &::before {
      content: none;
    }
  }
  .header__p {
    padding-left: 70px;
    margin: 0;
  }
  .header__container {
    padding: 80px 20px 10px;
  }

  .stat__container {
    padding: 20px 20px 20px 20px;
  }
  .passion__container {
    padding: 0px 50px 30px 50px;
    &::after,
    &::before {
      top: 100px;
    }
    h2 {
      font-size: 1.8rem;
    }
  }

  .passion__text {
    font-size: 1.3rem;
    h3 {
      font-size: 1.7rem;
    }
  }

  .passion__img {
    max-width: 400px;
  }
  .video {
    h2 {
      font-size: 2rem;
    }
  }
  .video {
    h2 {
      font-size: 1.8rem;
      padding: 0 20px;
    }

    p {
      font-size: 1.3rem;
      margin: 50px auto 20px;
      padding: 0 20px;
    }
  }

  .work__container {
    padding: 20px;
    h3 {
      font-size: 1.6rem;
    }
  }
  .work__videos {
    justify-content: center;
  }
  .work__videos__items_scroll {
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 20px;
  }
  .offer__container {
    grid-template-columns: 1fr;
    column-gap: 0px;
    padding: 20px 60px;
    h2 {
      font-size: 2rem;
    }
  }
  .offer__service {
    &::before {
      content: none;
    }
    margin-bottom: 40px;
  }
  .service__items {
    margin-bottom: 0;
  }
  .service__item {
    p {
      font-size: 1.2rem;
    }
    a {
      font-size: 1.1rem;
    }
  }
  .service__links {
    a {
      font-size: 1.3rem;
    }
  }
  .gear__item {
    p {
      font-size: 1.2rem;
    }
  }
  .reviews {
    h3 {
      font-size: 1.8rem;
      padding: 5px 20%;
    }
  }
  .reviews__container {
    padding: 10px 50px;
    h2 {
      text-align: center;
      font-size: 1.8rem;
    }
  }
  .profile__name {
    p {
      font-size: 1.2rem;
      &:nth-child(2) {
      }
    }
    margin-right: 30px;
  }
  .reviews__item_text {
    p {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
  }
  .footer {
    h3 {
      font-size: 1.4rem;
      i {
        font-size: 1.1rem;
      }
    }
  }
  .footer__logo {
    font-size: 1.8rem;
  }
  .footer__social {
    p {
      font-size: 1.3rem;
    }
    a {
      color: white;
      font-size: 2rem;
    }
    li {
      margin-right: 20px;
    }
  }
  .footer__container {
    padding: 0 20px 0px;
  }
}

@media (max-width: 768px) {
  .desc {
    display: none;
  }

  body.lock {
    overflow: hidden;
  }

  .nav__burger {
    display: block;
    width: 100%;
    position: relative;
    z-index: 21;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;

    &::before,
    &::after {
      content: "";
      background-color: black;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      position: absolute;
      background-color: black;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease;
    }

    &.active {
      &::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      span {
        transform: scale(0);
      }
    }
  }

  .nav__burger-menu_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100%;
    top: -100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: auto;
    padding: 20px 20px 20%;
    transition: all 0.5s ease-in-out;
    z-index: 20;
    .menu-list {
      margin-top: 130px;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    .nav__btn {
      margin-top: 20px;
    }
  }

  .nav__burger-menu_mobile.active {
    bottom: 0;
    top: 0;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
  }
  .header__img {
    max-height: 500px;
    margin: 10px 0;
  }
  .header__desc {
    min-width: 100px;

    h1 {
      width: 100%;
      p:first-child {
        padding-right: 0px;
        margin-bottom: 10px;
        margin-top: 20px;
      }
      p:nth-child(2) {
        margin-bottom: 30px;
        margin-top: 10px;
      }
    }
  }
  .header__p {
    padding-left: 50px;
    max-width: 600px;
  }
  .header__btn {
    margin-top: 30px;
  }
  .stat__container {
    flex-direction: column;
  }
  .stat__items {
    grid-template-columns: minmax(150px, 400px);
  }
  .stat__item {
    p {
      margin: 20px 0;
    }
    &::before {
      top: 0;
      bottom: 100%;
      left: 10%;
      width: 80%;
      height: 1px;
      background-color: black;
    }
    &:first-child::before {
      content: none;
    }
  }

  .passion__info {
    flex-wrap: wrap;
  }

  .passion__img {
    max-width: 600px;
    margin: 0;
  }
  .video {
    h2 {
      font-size: 1.6rem;
    }
  }
  .work__videos {
    flex-wrap: wrap;
  }
  .work__videos__active {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .work__videos__items_scroll {
    height: 450px;
  }
  .work__videos__items {
    height: 450px;
  }
  .offer__container {
    padding: 20px 20px;
  }
  .service__links {
    flex-wrap: wrap;
  }
  .service__item {
    min-width: 0;
    padding: 0 15px;
    a {
      span.mobile {
        display: inline-block;
      }
      &::before {
        left: -15px;
      }
    }
  }
  .gear__item {
    grid-template-columns: 1fr;
    justify-items: center;
    &:nth-child(2) {
      :nth-child(2) {
        order: -1;
      }
    }
  }
  .reviews__item {
    flex-direction: column;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 10px;
    }
  }
  .reviews__container {
    padding: 10px 20px;
  }
  .profile__name {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .header__img {
    height: 300px;
  }
  .header__p {
    padding-left: 0px;
  }
  .passion__container {
    padding: 0px 30px 10px 30px;
    margin: 0 0 10px 0;
    &::before {
      top: 50px;
      bottom: -20px;
      left: 10px;
    }
    &::after {
      top: 50px;
      bottom: -20px;
      right: 10px;
    }
    h2 {
      font-size: 1.6rem;
    }
  }

  .passion__text {
    font-size: 1.2rem;
    h3 {
      font-size: 1.4rem;
    }
  }
  .video {
    h2 {
      font-size: 1.6rem;
    }

    p {
      font-size: 1.2rem;
      margin: 40px auto 20px;
    }
  }
  .profile__pic {
    width: 80px;
    height: 80px;

    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
  .profile__name {
    min-width: 100px;
    p {
      &:nth-child(2) {
        padding-left: 0px;
      }
    }
  }
  .reviews {
    h3 {
      font-size: 1.6rem;
      padding: 5px 10%;
    }
  }
  .reviews__item {
    justify-content: center;
  }
  .footer__main {
    flex-direction: column;
  }
  .footer__logo {
    p {
      margin: 10px;
    }
  }
  .footer {
    h3 {
      margin-top: 30px;
      font-size: 1.2rem;
      i {
        font-size: 1rem;
      }
    }
  }
}
